div.bloco{
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.364);
    border-radius: 3px 5px;
    margin: 10px;
    background-image: url(imagens/wallpaper002.jpg);

}
#b1{
    background-position: top left;
}
#b2{
 background-position: right top;
}
#b3{
 background-position: top center;
}
#b4{
 background-position: center left;
}