body{
    background-image: url(imagens/wallpaper001.jpg);
}
div.quadrado{
    border: 1px solid rgba(0, 0, 0, 0.648); 
    border-radius:5px 5px ;
    height: 200px;
    width: 200px;
    display: inline-block;
    
}
#q1{
 background-image: url(imagens/pattern001.png);
}

#q2{
 background-image: linear-gradient(to bottom,darksalmon, darkred );
}
#q3{
 background-image: url(imagens/pattern003.png) ;
}
#q4{
background-image: linear-gradient(to top, darkgreen, black);
}