@charset  "UTF-8 ";

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
  
 

:root{
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Poppins', sans-serif;
    --fonte3:'Kaushan Script', cursive;
}




*{
   margin: 0px; /*essa margin foi pra deixar mais proximo*/
   padding: 0px; /* esse padding foi pra tirar os espaços entre as letras*/
   font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

 header {
    background-color: black;
    color: white;
text-align: center;
border: 1px solid rgba(255, 255, 255, 0.345);
border-radius: 7px;
 }

 header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size:10vw ;
 }

 header > p {
    padding-bottom:40px ;
 }

  header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
 }

  header a:hover , footer a:hover {
    text-decoration: underline;
 }

 section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left:30px;
    font-family: var(--fonte3);
    font-size:2.5vw ;

 }

 section >p{
    padding-bottom: 2em;
 }

 .normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color:rgb(193, 81, 40) ;
    color: white;
    box-shadow:inset 6px 6px 13px 0px black;
    background-attachment: fixed;
}

.imagem >p{
    background-color: rgba(0, 0, 0, 0.46);
   display: inline-block;
   padding: 5px;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.333);
}
#img01{
  background-image: url(imagens/);
  background-size: cover;
  background-position: center;
}
#img02{
    background-image: url(imagens/2022-10-29t224601z-541657389-up1eiat1r8m88-rtrmadp-3-soccer-libertadores-fla-apr-report.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
 footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;

 }
